<launch>
  <node pkg="py_trees_ros" name="move_base" type="mock_component" args="move_base.MoveBase">
      <param name="duration" value="5" />
  </node>
  <node pkg="py_trees_ros" name="dock"      type="mock_component" args="dock.Dock"/>
  <node pkg="py_trees_ros" name="rotate"    type="mock_component" args="rotate.Rotate"/>
  <node pkg="py_trees_ros" name="battery"   type="mock_battery"/>
  <node pkg="py_trees_ros" name="led_strip" type="mock_led_strip"/>
  <node pkg="py_trees_ros" name="safety_sensors"   type="mock_safety_sensors"/>
</launch>
