<launch>
  <node pkg="py_trees_ros" name="move_base" type="mock_component" args="move_base.MoveBase"/>
  <node pkg="py_trees_ros" name="rotate"    type="mock_component" args="rotate.Rotate"/>
  <node pkg="py_trees_ros" name="battery"   type="mock_battery"/>
  <node pkg="py_trees_ros" name="led_strip" type="mock_led_strip"/>
</launch>
